.grilla {
    display: grid;
    
}

.portfolio {
    grid-area: main;
    margin: 30px;
    background-color: #f2d721;
    
    &-titulo-pricipal {
        padding-top: 1em;
        padding-bottom: 50px;
        text-align: center;
        color: #ffff;
        font-size: 60px;
        font-weight: lighter;
        font-family: "recoleta";
    }

    &__trabajos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 20px;
        justify-items: center;

        &-item{
            margin-bottom: 20px;
        }

        &-foto {
            height: 450px;
        }
    }
}