footer {
    grid-area: footer;
    text-align: center;

    h5 {
        font-size: 15px;
        color: #6e6e6e;
    }

    a {
        img {
            margin: 10px;
            height: 30px;
            border-radius: 20%;
        }
    } 
}